#fild{
	width: 500px;
	margin-left: 300px;
	margin-top: 150px;
	height: 25px;
}

#search{
	height: 30px;
}

.box0{
  margin-top: 10px;
}

.box1{
  margin-top: 40px;
}

.box2{
  margin-top: 40px;
}

.box3{
  margin-top: 40px;
}

.box4{
  margin-top: 40px;
}

.box5{
  margin-top: 40px;
}

.box6{
  margin-top: 40px;
}

.box7{
  margin-top: 40px;
}


