.wrapper {
  position: relative;
  overflow: hidden;
  font-family: Arial, sans-serif; }

.header {
  position: relative;
  overflow: hidden; }

@media screen and (min-width: 310px) {
  .wrapper {
    width: 300px;
    margin: 0 auto; }

  /*HEADER*/
  .logo {
    position: relative;
    overflow: hidden; }

  .logo-img {
    display: block;
    text-align: center;
    margin-left: 24px;
    margin-top: 8px; }

  .logo__text--under {
    font-size: 16px;
    color: #476a83;
    text-align: center;
    margin-left: -10px;
    margin-top: 7px; }

  .phones__email {
    position: relative;
    overflow: hidden;
    color: #db5c4c;
    font-size: 29px;
    font-family: 'Open Sans', sans-serif;
    line-height: 32px;
    margin-left: 36px;
    margin-top: 62px; }

  .email {
    color: #476a83;
    font-size: 16px;
    text-align: right;
    margin-right: 21px; }

  .block-with-car__mobile {
    position: relative;
    overflow: hidden;
    width: 320px;
    height: 300px;
    background: url(../img/car-header-mobile.png) 0 0 no-repeat;
    margin-top: -10px;
    margin-left: -4px; }
    .block-with-car__mobile .call__back {
      color: white;
      background-color: #63ab28;
      border-bottom: 3px solid #508c1f;
      font-family: 'Open Sans', sans-serif;
      box-sizing: border-box;
      margin-left: 42px;
      margin-top: 38px;
      padding: 11px 0 11px 0;
      text-align: center;
      width: 245px;
      border-radius: 5px; }

  .block-address {
    position: relative;
    overflow: hidden;
    color: #114769;
    font-size: 17px;
    background-color: rgba(255, 255, 255, 0.8);
    margin-top: 57px;
    padding: 20px 0 20px 0px; }
    .block-address .timetable {
      position: relative;
      overflow: hidden; }
      .block-address .timetable img {
        margin-left: 30px;
        margin-right: 12px;
        float: left; }
      .block-address .timetable .header__address--text {
        float: right;
        width: 258px;
        margin-right: 4px; }
    .block-address .header__address {
      position: relative;
      overflow: hidden; }
      .block-address .header__address img {
        margin-left: 32px;
        margin-right: 10px;
        margin-top: 10px;
        padding-right: 5px; }

  /*END HEADER*/
  /*CONTENT*/
  .content {
    position: relative;
    overflow: hidden;
    /*FORM*/
    /*END FORM*/
    /*popular item*/
    /*END popular item*/
    /*SERVICES*/
    /*END SERVICES*/ }
    .content .feedback__form {
      position: relative;
      overflow: hidden; }
      .content .feedback__form .search {
        position: relative;
        overflow: hidden;
        background-color: #db5c4c;
        width: 224px;
        color: white;
        margin-top: 21px;
        padding: 14px 0 11px 0;
        border-radius: 10px 10px 0px 0px; }
        .content .feedback__form .search .search--img {
          float: left;
          margin-left: 40px;
          margin-right: 10px; }
        .content .feedback__form .search .search--text {
          float: left;
          font-size: 12px;
          margin-top: 1px;
          margin-left: 3px; }
    .content .form {
      position: relative;
      overflow: hidden;
      color: white;
      width: 300px;
      font-size: 13px;
      background-color: #db5c4c;
      border-radius: 0px 5px 5px 5px; }
      .content .form .form__text--name, .content .form .form__text--phone, .content .form .form__text--detail {
        position: relative;
        overflow: hidden;
        margin-top: 16px;
        margin-left: 14px; }
      .content .form .form__name, .content .form .form__phone, .content .form .form__detail {
        margin-top: 4px;
        margin-left: 11px;
        padding: 9px 94px 9px 13px;
        border: solid white;
        border-radius: 7px;
        outline: none; }
      .content .form .form__submit {
        background-color: #219be7;
        outline: none;
        font-size: 15px;
        color: white;
        border: none;
        border-bottom: 3px solid #1c83c3;
        border-radius: 3px;
        box-sizing: border-box;
        padding: 11px 32px 11px 32px;
        margin-left: 13px;
        margin-top: 47px;
        margin-bottom: 40px; }
    .content .popular-item__container {
      position: relative;
      overflow: hidden;
      background-color: #fbfeff;
      border: 2px solid #f6f6f6;
      margin-top: 59px; }
      .content .popular-item__container .popular-item--title {
        position: relative;
        overflow: hidden;
        color: #114769;
        font-size: 20px;
        text-align: center;
        margin-top: 39px; }
      .content .popular-item__container .flexslider {
        margin-top: 30px; }
        .content .popular-item__container .flexslider .slider__text1 {
          position: relative;
          overflow: hidden;
          color: white;
          background-color: #79be00;
          text-align: center;
          font-size: 20px;
          padding: 14px 0; }
        .content .popular-item__container .flexslider .slider__text2 {
          position: relative;
          overflow: hidden;
          color: white;
          background-color: #79be00;
          text-align: center;
          font-size: 33px;
          padding: 0 0 10px 0;
          font-weight: bold; }
      .content .popular-item__container .link__price {
        position: relative;
        overflow: hidden; }
        .content .popular-item__container .link__price .link__price__link {
          position: relative;
          overflow: hidden;
          color: #000000;
          font-size: 21px;
          display: block;
          margin-left: 18px;
          margin-bottom: 15px; }
    .content .services {
      position: relative;
      overflow: hidden;
      color: #256799;
      margin-top: 25px; }
      .content .services .services__item1__container {
        position: relative;
        overflow: hidden;
        background-color: #fbfeff;
        border: 2px solid #f6f6f6; }
        .content .services .services__item1__container .services__item1__title {
          font-size: 18px;
          margin-left: 19px;
          margin-top: 24px;
          border-bottom: 1px solid #256799;
          width: 97px; }
        .content .services .services__item1__container .services__item1__list {
          position: relative;
          overflow: hidden;
          margin-left: 20px;
          margin-top: 28px;
          margin-bottom: 27px; }
          .content .services .services__item1__container .services__item1__list li {
            list-style-type: square;
            list-style: square;
            margin-left: 20px;
            margin-top: 7px;
            line-height: 19px;
            font-size: 15px; }
      .content .services .services__item2__container {
        position: relative;
        overflow: hidden;
        margin-top: 16px;
        background-color: #fbfeff;
        border: 2px solid #f6f6f6; }
        .content .services .services__item2__container .services__item2__title {
          font-size: 18px;
          margin-left: 19px;
          margin-top: 19px;
          border-bottom: 1px solid #256799;
          width: 63px; }
        .content .services .services__item2__container .services__item2__list {
          position: relative;
          overflow: hidden;
          margin-left: 20px;
          margin-top: 28px;
          margin-bottom: 27px; }
          .content .services .services__item2__container .services__item2__list li {
            list-style-type: square;
            list-style: square;
            margin-left: 20px;
            margin-top: 7px;
            line-height: 19px;
            font-size: 15px; }
      .content .services .services__item3__container {
        position: relative;
        overflow: hidden;
        margin-top: 16px;
        background-color: #fbfeff;
        border: 2px solid #f6f6f6; }
        .content .services .services__item3__container .services__item3__title {
          font-size: 18px;
          margin-left: 19px;
          margin-top: 19px;
          border-bottom: 1px dashed #256799;
          width: 177px; }
        .content .services .services__item3__container .services__item3__list {
          position: relative;
          overflow: hidden;
          margin-left: 20px;
          margin-top: 28px;
          margin-bottom: 27px; }
          .content .services .services__item3__container .services__item3__list li {
            list-style-type: square;
            list-style: square;
            margin-left: 20px;
            margin-top: 7px;
            line-height: 19px;
            font-size: 15px; }
      .content .services .services__item4__container {
        position: relative;
        overflow: hidden;
        margin-top: 16px;
        background-color: #fbfeff;
        border: 2px solid #f6f6f6; }
        .content .services .services__item4__container .services__item4__title {
          font-size: 18px;
          margin-left: 19px;
          margin-top: 19px;
          border-bottom: 1px dashed #256799;
          width: 223px; }
        .content .services .services__item4__container .services__item4__list {
          position: relative;
          overflow: hidden;
          margin-left: 20px;
          margin-top: 28px;
          margin-bottom: 27px; }
          .content .services .services__item4__container .services__item4__list li {
            list-style-type: square;
            list-style: square;
            margin-left: 20px;
            margin-top: 7px;
            line-height: 19px;
            font-size: 15px; }
            .content .services .services__item4__container .services__item4__list li span {
              color: #db5c4c;
              font-weight: bold; }

  /*END CONTENT*/
  /*FOOTER*/
  .footer {
    position: relative;
    overflow: hidden;
    background-color: #e0e3e4;
    color: #114769;
    margin-top: 47px; }
    .footer .footer__contacts {
      position: relative;
      overflow: hidden; }
    .footer .footer__contacts__title {
      font-size: 14px;
      font-weight: bold;
      margin-top: 32px;
      margin-left: 43px; }
    .footer .footer__contacts__phone1 {
      margin-top: 23px;
      margin-left: 51px;
      font-weight: bold; }
    .footer .footer__contacts__phone2 {
      margin-top: 4px;
      margin-left: 51px;
      font-weight: bold; }
    .footer .footer__contacts__mail {
      margin-top: 5px;
      margin-left: 43px; }
      .footer .footer__contacts__mail .fa-envelope-o:before {
        padding-right: 5px; }
    .footer .footer__contacts__submit {
      border: none;
      outline: none;
      background-color: #db5c4c;
      padding: 9px 19px 9px 19px;
      margin-top: 18px;
      margin-left: 45px;
      border-radius: 3px;
      color: white;
      margin-bottom: 20px; }
    .footer .footer__timetable {
      position: relative;
      overflow: hidden;
      background-color: white; }
      .footer .footer__timetable .footer__timetable__title {
        font-size: 14px;
        font-weight: bold;
        margin-top: 40px;
        margin-left: 43px; }
      .footer .footer__timetable .footer__timetable__text {
        margin-top: 28px;
        margin-left: 10px; }
        .footer .footer__timetable .footer__timetable__text .fa-clock-o:before {
          margin-left: 25px;
          margin-right: 5px; }
        .footer .footer__timetable .footer__timetable__text span {
          margin-left: 44px; }
      .footer .footer__timetable .footer__timetable__address {
        margin-top: 10px;
        margin-left: 10px;
        margin-bottom: 40px; }
        .footer .footer__timetable .footer__timetable__address .fa-map-marker:before {
          margin-left: 26px;
          margin-right: 5px; }
    .footer .networks {
      position: relative;
      overflow: hidden; }
      .footer .networks .networks__title {
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        margin-top: 64px; }
      .footer .networks .networks__list {
        position: relative;
        overflow: hidden;
        margin-left: 27px;
        margin-top: 14px;
        margin-bottom: 20px; }
        .footer .networks .networks__list .netwokrs__item {
          float: left;
          margin-left: 3px;
          width: 50px;
          height: 50px; }
          .footer .networks .networks__list .netwokrs__item .netwokrs__item--vk {
            background: url(../img/sprite1.png) 0 0 no-repeat;
            width: 50px;
            height: 50px;
            display: block; }
          .footer .networks .networks__list .netwokrs__item .netwokrs__item--fb {
            background: url(../img/sprite1.png) -48px 0 no-repeat;
            width: 50px;
            height: 50px;
            display: block; }
          .footer .networks .networks__list .netwokrs__item .netwokrs__item--od {
            background: url(../img/sprite1.png) -140px 0 no-repeat;
            width: 50px;
            height: 50px;
            display: block; }
          .footer .networks .networks__list .netwokrs__item .netwokrs__item--sk {
            background: url(../img/sprite1.png) -95px 0 no-repeat;
            width: 50px;
            height: 50px;
            display: block; }

  /*END FOOTER*/ }

/*# sourceMappingURL=style.css.map */
