.wrapper{
	position: relative;
	overflow: hidden;
	font-family: 'Open Sans';
}


/*TOP PART*/
.container-top{
  margin: 0 auto;
  width: 300px;
	border: 1px solid #f0f1f2;
	margin-top: 10px;
	height: 100%;
}

.logo{
  margin: 0 auto;
  width: 200px;
}

.logo-img1{
  margin-top: 5px; 
}

.logo-img2{
  margin-bottom: 10px;
}

.copywriters{
  position: relative;
  overflow: hidden;
  text-align: center;
  padding: 32px 27px;
  margin-top: 5px;
}

.copywriters__link{
  text-decoration: none; 
	font-weight: bold;
  font-size: 16px;
  color: #000000;
  letter-spacing:0.14px;
  padding: 32px 27px;
  background-color: #f0f1f2;

}

.open-orders{
  position: relative;
  overflow: hidden;
  text-align: center;
  padding: 32px 27px;
  margin-top: 5px;
}

.open-orders__link{
  text-decoration: none; 
	font-weight: bold;
  font-size:16px;
  color:#1a2a33;
  letter-spacing:0.14px;
  text-align: center;
  margin-top: 10px;
}

.container-login{
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  width: 300px;
  height: 100%;
}

.login{
  text-align: center;
  font-weight: bold;
  font-size:16px;
  color:#1a2a33;
  letter-spacing:0.14px;    
}

.login__writer{
  font-weight: bold;
  text-align: center;
	font-size:16px;
  color:#ffffff;
  letter-spacing:0.14px;
  background-color: #7ed321; 
  border-radius:5px;
  padding: 10px 31px;
  margin-left: 45px;
  margin-top: 10px;
  text-decoration: none;
  border: 0;
  outline: none;
}

.login__client{
  font-weight: bold;
	float: left;
	font-size:16px;
  color:#ffffff;
  letter-spacing:0.14px;
  text-align:left;
  background-color: #0077ff;
  border-radius:5px;
  padding: 10px 31px;
  margin-left: 45px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-decoration: none;
  border: 0;
  outline: none;
}


/*CONTENT*/
.content{
	position: relative;
	overflow: hidden;
	background-color: #f0f1f2;
	margin: 0 auto;
	width: 300px;
	height: 100%;
	border: 1px solid #f0f1f2; 
}

.container__content__title{
	position: relative;
	overflow: hidden;
}

.content__title__blue{
  font-size:14px;
  color:#0077ff;
  line-height:32px;
  text-align: center;
  margin-top: 5px;
}

.content__title__bold{
  font-size:26px;
  color:#000000;
  letter-spacing:0.23px;
  text-align: center;
}

.content__copywriters__container{
	position: relative;
	overflow: hidden;
	background-color: #f0f1f2;
}

.copywriter{
	position: relative;
	overflow: hidden;
	background-color: #fff;
	margin-top: 10px;
}

.copywriter__img{
	float: left;
	margin-top: 10px;
	clear: both;
}

.copywriter__name{
	font-weight: bold;
  font-size:15px;
  color:#000000;
  line-height:22px;
  float: left;
  margin-top: 10px;
  margin-left: 5px;
}

.copywriter__online{
  font-size:10px;
  color:#000000;
  line-height:15px;
  float: left;
  margin-top: 30px;
  margin-left: -40px;
}

.flag{
 float: left;	
 margin-top: 16px;
 margin-left: -15px;
 width: 16px;
 height: 9px;
}

.container__reviews{
	position: relative;
	overflow: hidden;
}

.stars{
	position: relative;
	overflow: hidden;
	margin-top: 12px;
	margin-left: 15px;
}

.stars__item{
	background: url(../img/full-star.png) 0 0 no-repeat;
	width: 15px;
	height: 15px;
	float: left;
}

.reviews{
  font-size:10px;
  color:#141414;
  line-height:22px;
  text-align:left;
  margin-left: 15px;
}

.container__language{
	position: relative;
	overflow: hidden;
	float: left;
	margin-left: 5px;
}

.language__level{
	font-weight: bold;
  font-size:15px;
  color:#000000;
  line-height:22px;
  text-align:left;	
}

.language{
  font-size:10px;
  color:#141414;
  line-height:22px;
  text-align:left;
}

.container__orders{
	position: relative;
	overflow: hidden;
	float: left;
	margin-left: 10px;
}

.orders__num{
  font-weight: bold;
  font-size:15px;
  color:#000000;
  line-height:22px;
  text-align:left;
}

.completed{
  font-size:10px;
  color:#141414;
  line-height:22px;
  text-align:left;
}

.container__portfolio{
	position: relative;
	overflow: hidden;
	float: left;
	clear: both;
	margin-left: 20px;
	margin-top: 40px;
}

.discover{
  font-size:10px;
  color:#0077ff;
  line-height:22px;
  text-align:left;
}

.portfolio{
	font-weight: bold;
  font-size:14px;
  color:#0077ff;
  letter-spacing:0.5px;
  text-align:left;
}

.hire{
	float: left;
	font-weight: bold;
  font-size:14px;
  color:#ffffff;
  letter-spacing:0.5px;
  text-align:center;
  background:#0077ff;
  border-radius:4px;
  width:85px;
  height:34px;
  border: 0;
  outline: none;
  margin-left: 80px;
  margin-top: 40px;
}

.first-text{
  font-size:13px;
  color:#141414;
  line-height:21px;
  text-align:left;
  margin-top: 125px;
}

.second-text{
  font-size:13px;
  color:#141414;
  line-height:21px;
  text-align:left;
  margin-top: 15px;	
}

.verified-img{
	position: absolute;
	top: 75px;
	left: 55px;
}

.container__verified{
	position: absolute;
	top: 100px;
	left: 20px;
}

.verified__upper{
	font-weight: bold;
  font-size:11.19px;
  color:#6ab31b;
  line-height:15.39px;
  text-align:left;
}

.by-contentmart{
  font-size:8px;
  color:#518c12;
  line-height:15.39px;
  text-align:left;
}

/*END OF CONTENT*/


/*SIDBAR*/
.sidebar{
 position: relative;
 overflow: hidden;
 margin: 0 auto;
 width: 300px;
}

.expetrises{
	position: relative;
	overflow: hidden;
}

.expetrises-img{
 margin-top: 10px;
 float: left;
}

.expetrises__title{
  font-weight: bold;
  font-size:15px;
  color:#000000;
  float: left;
  margin-top: 10px;
  margin-left: 10px;
}

.expetrises-nav{
	position: relative;
	overflow: hidden;
	float: left;
  margin-left: 10px;
}

.expetrises__link{
	text-decoration: none;
  font-size:14px;
  color:#0077ff;
  line-height:32px;	
}

.categories{
	position: relative;
	overflow: hidden;
}

.categories-img{
  margin-top: 10px;
  float: left;	
}

.categories__title{
	font-weight: bold;
  font-size:15px;
  color:#000000;
  margin-top: 10px;
  margin-left: 10px;
  float: left;
}

.categories-nav{
  position: relative;
	overflow: hidden;
	float: left;
  margin-left: 28px;	
}

.categories__link{
  text-decoration: none;
  font-size:14px;
  color:#0077ff;
  line-height:32px;		
}

.languages{
	position: relative;
	overflow: hidden;
}

.languages-img{
  margin-top: 10px;
  float: left;	
}

.languages__title{
  font-weight: bold;
  font-size:15px;
  color:#000000;
  float: left;
  margin-top: 10px;
  margin-left: 10px;
}

.languages-nav{
	position: relative;
	overflow: hidden;
	float: left;
  margin-left: 10px;
  width: 165px;
}

.languages__link{
	text-decoration: none;
  font-size:14px;
  color:#0077ff;
  line-height:32px;	
}

.country{
	position: relative;
	overflow: hidden;
}

.country-img{
	margin-top: 10px;
	float: left;
}

.country__title{
  font-weight: bold;
  font-size:15px;
  color:#000000;
  float: left;
  margin-top: 10px;
  margin-left: 16px;	
}

.country-nav{
	position: relative;
	overflow: hidden;
	float: left;
  margin-left: 17px;
  width: 190px;
}

.country__link{
	text-decoration: none;
  font-size:14px;
  color:#0077ff;
  line-height:32px;	
}

.cities{
	position: relative;
	overflow: hidden;
}

.cities-img{
	margin-top: 10px;
	float: left;
}

.cities__title{
  font-weight: bold;
  font-size:15px;
  color:#000000;
  float: left;
  margin-top: 10px;
  margin-left: 23px;	
}

.cities-nav{
	position: relative;
	overflow: hidden;
	float: left;
  margin-left: 23px;
  width: 223px;
}

.cities__link{
	text-decoration: none;
  font-size:14px;
  color:#0077ff;
  line-height:32px;	
}
/*END OF SIDE BAR*/


/*DESKOPT*/

@media screen and (min-width: 939px) {
	.container-top{
		width: 1280px;
		height: 85px;
	}

	.logo{
		float: left;
		margin-top: 18px;
		margin-left: 30px;
	}

	.copywriters {
    float: left;
    padding: 35px 27px;
    margin-top: 0px;
  }

  .open-orders{
  	float: left;
  	margin-top: 1px;
  	margin-left: -40px;
  }

  .login{
  	float: left;
  	margin-top: 31px;
  	margin-left: 144px;
  }

  .login__writer{
  	float: left;
  	margin-top: 21px;
  }

  .container-login{
  	width: 735px;
  }

  .login__client{
  	margin-top: 21px;
  }


  /*CONTENT*/

  .content{
  	margin: 0 auto;
  	width: 910px;
  	float: left;
  	margin-left: 34px;
  }

  .container__content__title {
    float: left;
    margin-left: 111px;
  }

  .content__copywriters__container {
    float: left;
    margin-left: 79px;
  }

  .copywriter__img {
    margin-top: 35px;
    margin-left: 30px;
  }

  .name{
  	position: relative;
  	overflow: hidden;
  	float: left;
  	margin-top: 25px;
    margin-left: 20px;
  }

  .container__reviews {
    float: left;
    margin-left: 24px;
    margin-top: 24px;
  }

  .flag {
    position: absolute;
    top: 25px;
    left: 197px;
  }

  .container__language {
    margin-left: 30px;
    margin-top: 28px;
  }

  .container__orders{
    margin-left: 30px;
    margin-top: 28px;	
  }

  .container__portfolio {
    clear: none; 
    margin-left: 45px;
    margin-top: 26px;
  }

  .hire{
    position: absolute;
    left: 635px;
    top: -9px;
  }

  .verified-img {
    top: 98px;
    left: 88px;
  }

  .copywriter{
  	width: 825px;
  	height: 170px;
  }

  .first-text{
  	width: 303px;
  	margin-left: 133px;
  	margin-top: 87px;
  	height: 63px;
  }

  .second-text{
  	width: 328px;
  	margin-left: 484px;
    margin-bottom: 42px;
    margin-top: -65px;
  }

  .container__verified {
    top: 124px;
    left: 43px;
  }

  .expetrises {
    margin-top: 66px;
  }

  .sidebar{
  	background-color: #f0f1f2;
    width: 306px;
    margin-left: 10px;
  }

  .expetrises-img{
  	margin-left: 20px;
  }

  .categories-img{
  	margin-left: 20px;
  }

  .categories-nav{
  	margin-left: 48px;
  }

  .languages-img{
  	margin-left: 20px;
  }

  .languages {
    width: 222px;
  }

  .country-img{
  	margin-left: 20px;
  }

  .country {
    width: 255px;
  }

  .cities-img{
  	margin-left: 20px;
  }

  .cities {
    width: 300px;
  }

}