.header__title--middle{
	margin-left: 380px !important;
}

.header__title--bottom {
    margin-left: 168px !important;
}


.header__find--partner{
	margin-left: 524px !important;
}

.content__title{
	margin-left: 526px !important;
}

.show-other-partners{
	margin-left: -67px !important;
}

.search-partners{
	margin-left: 512px !important;
}

#searchbar{
	margin-left: 424px !important;
}

.first-partner div{
	margin-left: 60px !important;
}

.first-partner .photo{
	margin-left: 100px !important;
}

.first-partner .icon{
	left: 120px !important;
}

.second-partner div{
  margin-left: 40px !important;
}

.second-partner .icon{
	left: 142px !important;
}

.second-partner .photo{
	margin-left: 100px !important;
}

.third-partner div{
  margin-left: 49px !important;
}

.third-partner .photo{
	margin-left: 100px !important;
}

.fourth-partner div{
  margin-left: 48px;
}

.fourth-partner .photo{
	margin-left: 100px !important;
}
