.header__title--middle{
	margin-left: 410px !important;
}

.header__find--partner{
	margin-left: 546px !important;
}

.content__title{
	margin-left: 525px !important;
}

.show-other-partners{
	margin-left: -100px !important;
}

.search-partners{
	margin-left: 512px !important;
}

#searchbar{
	margin-left: 419px !important;
}