.header__title--middle{
	margin-left: 380px !important;
}

.header__find--partner{
	margin-left: 500px !important;
}

.content__title{
	margin-left: 570px !important;
}

.show-other-partners{
	margin-left: 10px !important;
}

.search-partners{
	margin-left: 512px !important;
}

#searchbar{
	margin-left: 480px !important;
}

.second-partner .icon{
	left: 168px !important;
}