$roboto:          'Roboto', courier, sans-serif;
$montserrat:      'Montserrat', Arial, sans-serif;


body{
	max-width: 1440px;
	margin: 0 auto;
	height:100%;
	/*font-family: 'Montserrat', sans-serif;*/
	/*font-family: 'Roboto', sans-serif;*/
}

.wrapper{
	position: relative;
	overflow: hidden;
}

@media screen and (min-width : 319px){
/*HERE IS STARI OF HEADER*/
.header{
	position: relative;
	overflow: hidden;
	background: url(../img/main-img.png) -433px 0 no-repeat;
	background-color: #1a1915;
	background-size: 1175px;
	width: 100%;
	height: 540px;
	display: block;
}


.log-sign{
	position: relative;
	overflow: hidden;
	float: left;
	font-weight: bold;
	clear: both;
}

.login{
  float: left;
  color: white;
  margin-top: 27px;
  margin-left: 75px;
  background-color: transparent;
  border: none;
  padding: 5px 15px 5px 15px;
  font-family: $montserrat;
  outline: none;
}

.signup{
  float: left;
  color: white;
  margin-top: 27px;
  margin-left: 15px;
  background-color: transparent;
  border: none;
  padding: 5px 15px 5px 15px;
  font-family: $montserrat;
  outline: none;
}

.login:hover{
	border: 2px solid white;
	border-radius: 50px;
}

.signup:hover{
	border: 2px solid white;
	border-radius: 50px;
}

.header__block--title{
	position: relative;
	overflow: hidden;
}

.header__title--top{
	color: white;
	font-size: 21px;
	font-weight: bold;
	margin-top: 175px;
	margin-left: 69px;
	font-family: $montserrat;
}

.header__title--middle{
	color: white;
	font-size: 29px;
	text-align: center;
	margin-top: 33px;
	margin-left: 5px;
	font-family: $montserrat;
}

.header__title--bottom{
	color: white;
	font-size: 18px;
	text-align: center;
	margin-top: 25px;
	margin-left: 45px;
	font-weight: lighter;
	font-family: $roboto;
	text-align: center;
	width: 72%;
}

.header__find--partner{
	border-radius: 50px;
	border: none;
	color: white;
	font-family: $montserrat;
	margin-top: 16px;
	margin-left: 25px;
	padding: 10px 50px;
	text-align: center;
	outline: none;
	background-color: transparent;
}
.header__find--partner:hover{
	border-radius: 50px;
  background-color: #ff4e50;
}
/*HERE IS END OF HEADER*/


/*HERE IS START OF CONTENT*/
.conten{
	position: relative;
	overflow: hidden;
}

.content__title{
	color: black;
	margin-top: 37px;
	margin-left: 16px;
	font-weight: bold;
	font-size: 22px;
	font-family: $montserrat;
}

/*SLIDER START*/
.sliders-wrapper{
	position: relative;
	overflow: hidden;

	.first-slider{
		margin-top: 15px;
		position: relative;
		overflow: hidden;

		.step{
			position: absolute;
			left: 32px;
			top: 70px;
			z-index: 1;
			color: white;
			background-color: #ff4e50;
			border-radius: 50px;
			font-size: 12px;
			padding: 5px 15px;
			font-family: $montserrat;
		}
		.text--bold{
			position: absolute;
			left: 32px;
			top: 106px;
			z-index: 1;
			color: white;
			font-weight: bold;
			font-size: 28px;
		}
		.text--lignter{
      position: absolute;
      color: white;
      font-family: $roboto;
      font-weight: lighter;
      font-size: 15px;
			left: 32px;
			top: 170px;
			z-index: 1;
		}
	}

	.second-slider{
		margin-top: 15px;
		position: relative;
		overflow: hidden;

		.step{
			position: absolute;
			left: 32px;
			top: 70px;
			z-index: 1;
			color: white;
			background-color: #ff4e50;
			border-radius: 50px;
			font-size: 12px;
			padding: 5px 15px;
			font-family: $montserrat;
		}
		.text--bold{
			position: absolute;
			left: 32px;
			top: 106px;
			z-index: 1;
			color: white;
			font-weight: bold;
			font-size: 28px;
		}
		.text--lignter{
      position: absolute;
      color: white;
      font-family: $roboto;
      font-weight: lighter;
      font-size: 15px;
			left: 32px;
			top: 170px;
			z-index: 1;
		}
	}

	.third-slider{
		margin-top: 15px;
		position: relative;
		overflow: hidden;

		.step{
			position: absolute;
			left: 32px;
			top: 70px;
			z-index: 1;
			color: white;
			background-color: #ff4e50;
			border-radius: 50px;
			font-size: 12px;
			padding: 5px 15px;
			font-family: $montserrat;
		}
		.text--bold{
			position: absolute;
			left: 32px;
			top: 106px;
			z-index: 1;
			color: white;
			font-weight: bold;
			font-size: 28px;
		}
		.text--lignter{
      position: absolute;
      color: white;
      font-family: $roboto;
      font-weight: lighter;
      font-size: 15px;
			left: 32px;
			top: 170px;
			z-index: 1;
		}
	}
}
/*SLIDER END*/

/*COMMENTS START*/
.comments-wrapper{
	position: relative;
	overflow: hidden;
}

.comments__title{
	font-weight: bold;
	font-size: 22px;
	text-align: center;
	margin-left: 10px;
	margin-top: 50px;
	font-family: $montserrat;
}

.first-partner{
	position: relative;
	overflow: hidden;
	.photo{
		width: 120px;
		height: 120px;
		background: url(../img/sprite-for-comments-photos.png) -4px 0px;
		border-radius: 100px;
		margin-top: 30px;
		margin-left: 100px;
	}
	.icon{
		width: 45px;
		height: 40px;
		background: url(../img/sprite-for-comments.png) 0px 0px;
		position: absolute;
		left: 123px;
		top: 106px;
	}
	h6{
		font-size: 15px;
		font-weight: bold;
		font-family: $montserrat;
		margin-top: 30px;
		margin-left: 110px;
	}
	div{
		text-align: center;
		margin-top: 10px;
		margin-left: 57px;
		font-family: $roboto;
		font-weight: lighter;
		width: 64%;
	}
}

.second-partner{
	position: relative;
	overflow: hidden;
	.photo{
		width: 120px;
		height: 120px;
		background: url(../img/sprite-for-comments-photos.png) -6px -129px;
		border-radius: 100px;
		margin-top: 30px;
		margin-left: 100px;
	}
	.icon{
		width: 45px;
		height: 40px;
		background: url(../img/sprite-for-comments.png) 0px -49px;
		position: absolute;
		left: 140px;
		top: 106px;
	}
	h6{
		font-size: 15px;
		font-weight: bold;
		font-family: $montserrat;
		margin-top: 30px;
		margin-left: 110px;
	}
	div{
		margin-left: 38px;
		width: 77%;text-align: center;
		margin-top: 10px;
		font-family: $roboto;
		font-weight: lighter;
	}
}

.third-partner{
	position: relative;
	overflow: hidden;
	.photo{
		width: 120px;
		height: 120px;
		background: url(../img/sprite-for-comments-photos.png) -6px -261px;
		border-radius: 100px;
		margin-top: 30px;
		margin-left: 100px;
	}
	.icon{
		left: 140px;
		width: 45px;
		height: 40px;
		background: url(../img/sprite-for-comments.png) 0px -91px;
		position: absolute;
		top: 106px;
	}
	h6{
		font-size: 15px;
		font-weight: bold;
		font-family: $montserrat;
		margin-top: 30px;
		margin-left: 110px;
	}
	div{
		text-align: center;
		margin-top: 10px;
		font-family: $roboto;
		font-weight: lighter;
		margin-left: 38px;
		width: 77%;
	}
}

.fourth-partner{
	position: relative;
	overflow: hidden;
	.photo{
		width: 120px;
		height: 120px;
		background: url(../img/sprite-for-comments-photos.png) -6px -921px;
		border-radius: 100px;
		margin-top: 30px;
		margin-left: 100px;
	}
	.icon{
		left: 140px;
		width: 45px;
		height: 40px;
		background: url(../img/sprite-for-comments.png) 0px -132px;
		position: absolute;
		top: 106px;
	}
	h6{
		font-size: 15px;
		font-weight: bold;
		font-family: $montserrat;
		margin-top: 30px;
		margin-left: 110px;
	}
	div{
		text-align: center;
		margin-top: 10px;
		font-family: $roboto;
		font-weight: lighter;
		margin-left: 38px;
		width: 77%;
	}
}

.show-other-partners{
	border-radius: 50px;
	border: none;
	font-family: $montserrat;
	margin-top: 16px;
	padding: 10px 50px;
	text-align: center;
	outline: none;
	background-color: transparent;
	color: #ff4e50;
	margin-left: 46px;

}

.show-other-partners:hover{
	border: 1px solid #ff4e50; 
	background-color: transparent;
}
/*COMMENTS END*/

/*START OF IMAGES*/
.grid-wrapper{
	position: relative;
	overflow: hidden;
	border-bottom: 3px solid #ff4e50;
}

.grid__title{
  font-family: $montserrat;
  font-weight: bold;
  width: 95%;
  margin-top: 37px;
  margin-left: 7px;
  font-size: 22px;
  text-align: center;
}

.ideas{
	position: relative;
	overflow: hidden;
}

.grid{
  margin-left: 3px;
  margin-top: 10px;
}

.grid-item { 
	position: relative;
	overflow: hidden;
	width: 300px;
	height: 120px;
	border-radius: 15px;
	margin-top: 10px;
	float: left;
}

.grid-item__text{
	font-weight: bold;
	font-size: 23px;
	color: white;
	padding: 49px 137px;
	background-color: rgba(26, 25, 21, 0.5);
	border-radius: 15px;
	text-align: center;
}

.search-partners{
  font-family: $roboto;
  margin-left: 24px;
  margin-top: 10px;
  font-weight: lighter;	
  font-size: 18px;
}

.form-search-partners{
	width: 17%;
}

#searchbar{
	padding: 5px 30px;
	border-radius: 5px;
	margin-left: 44px;
	margin-top: 20px;
}

#searchbtn{
  border-radius: 50px;
	border: none;
	color: white;
	font-family: $montserrat;
	margin-top: 20px;
	margin-left: 56px;
	padding: 10px 50px;
	text-align: center;
	outline: none;
	background-color: #ff4e50;	
	margin-bottom: 20px;
}
/*END OF IMAGES*/
/*HERE IS END OF CONTENT*/

/*HERE IS START OF FOOTER*/
.footer{
	position: relative;
	overflow: hidden;
}

.footer__title--big--bold{
	color: #ff4e50;
	font-size: 16px;
	font-weight: bold;
	margin-top: 48px;
	margin-left: 85px;
	font-family: $montserrat;
}

.footer__company--bold{
  font-weight: bold;
  margin-left: 120px;
  margin-top: 15px;
  font-size: 18px;
  font-family: $montserrat;	
}

.menu{
	position: relative;
	overflow: hidden;
	margin-left: 45px;
	margin-top: 10px;
}

.menu__item{
	float: left;
	margin-left: 10px;
}

.menu__link{
	color: #a3a3a3;
	font-family: $roboto;
	font-weight: lighter;
	text-decoration: none;
}

.partners-footer--bold{
  font-family: $montserrat;
  font-weight: bold;
  margin-top: 10px;
  margin-left: 125px;
}

.designed-by{
  font-family: $montserrat;
  font-weight: bold;
  font-size: 10px;
  margin-top: 40px;
  margin-left: 127px;
  color: #a3a3a3;	
}

.logo-img--bottom{
	margin-top: 15px;
	margin-left: 100px;
}
/*HERE IS END OF FOOTER*/
}




@media screen and (min-width : 767px){
  .header{
  	background-position: -200px 0;
  }  

  .log-sign{
  	float: right;
  }

  .header__title--top{
  	margin-top: 35px;
  }

  .header__title--middle{
  	margin-top: 146px;
  	width: 44%;
  	margin-left: 200px;
  }

  .header__title--bottom{
  	margin-left: 95px;
  }

  .header__find--partner{
  	margin-left: 242px;
  }

  .content__title{
  	margin-left: 243px;
  	margin-top: 66px;
  }

  .sliders-wrapper{
  	height: 100%;
  }

  .flexslider .slides img{
  	height: 296px !important;
  }

  .flex-viewport{
  	height: 296px;
  }

  .first-slider{
  	width: 30%;
  	float: left;
  	margin-left: 20px;
  	height: 100%;
  }

  .second-slider{
  	width: 30%;
  	float: left;
  	margin-left: 20px;
  	height: 100%;
  }

  .third-slider{
  	width: 30%;
  	float: left;
  	margin-left: 20px;
  	height: 100%;
  }

  .sliders-wrapper .first-slider .text--lignter{
  	top: 245px;
  }

  .sliders-wrapper .first-slider .text--bold{
  	top: 185px;
  }

  .sliders-wrapper .first-slider .step{
  	top: 140px;
  }

  .sliders-wrapper .second-slider .text--lignter{
  	top: 245px;
  }

  .sliders-wrapper .second-slider .text--bold{
  	top: 185px;
  }

  .sliders-wrapper .second-slider .step{
  	top: 140px;
  }

  .sliders-wrapper .third-slider .text--lignter{
  	top: 245px;
  }

  .sliders-wrapper .third-slider .text--bold{
  	top: 185px;
  }

  .sliders-wrapper .third-slider .step{
  	top: 140px;
  }

  .first-partner{
  	width: 44%;
  	float: left;
  }

  .second-partner{
  	width: 44%;
  	float: left;
  }

  .third-partner{
  	width: 44%;
  	float: left;
  }

  .fourth-partner{
  	width: 44%;
  	float: left;
  }

  .comments-wrapper{
  	margin-left: 52px;
  }
  .grid__title{
  	margin-left: 203px;
  }

  .ideas{
  	margin-left: 0px;
  	width: 100%;  
  }
  
  .grid{
  	width: 100%;
  }
  
  .grid-item {
	  height: 310px;
	  width: 225px;
	  border-radius: 4px;
	  box-sizing: border-box;
	  margin-bottom: 20px;
  }

  .grid-item--width2 {
	  width: 485px;
  }

  .grid__title{
  	margin-top: 80px;
  	margin-left: 0;
  }

  .grid-item__text{
  	left: 1px;
  	top: 10px;
  	padding: 144px 103px;
  	border-radius: 3px;
  }

  .search-partners{
  	margin-left: 230px;
  	margin-top: 37px;
  }

  .form-search-partners{
  	width: 100%;
  }

  #searchbar{
  	float: left;
  	margin-left: 135px;
  }

  #searchbtn{
  	float: left;
  }

  .footer__title--big--bold{
  	float: left;
  	margin-left: 50px;
  	margin-top: 40px;
  }

  .footer__company--bold{
  	float: left;
  	margin-top: 40px;
  	margin-left: 80px;
  }

  .partners-footer--bold{
  	float: left;
  	margin-top: 40px;
  	margin-left: 90px;
  }
  
  .menu{
  	position: absolute;
  	left: 213px;
  	top: 53px;
  }

  .menu__item{
  	float: none;
  	margin-top: 5px;
  }

  .designed-by{
  	float: left;
  }
  
  .footer{
  	height: 175px;
  }

}



/*DESCOPT*/

@media screen and (min-width : 1023px){
	.header{
		background-position: 0 0;
		background-size: cover;
	}

	.header__title--middle{
		width: 40%;
		margin-left: 361px;
		font-size: 35px;
		line-height: 55px;
	}

	.header__title--bottom{
		margin-left: 189px;
	}

	.header__find--partner{
		margin-left: 421px;
	}

	.content__title{
		margin-left: 389px;
	}

	.sliders-wrapper{
		margin-left: 245px;
	}

	.flexslider .slides img{
  	height: 296px !important;
  }

  .flex-viewport{
  	height: 296px;
  }

  .first-slider{
  	width: 25%;
  	float: left;
  	margin-left: 1px;
  	height: 100%;
  }

  .second-slider{
  	width: 25%;
  	float: left;
  	margin-left: 1px;
  	height: 100%;
  }

  .third-slider{
  	width: 25%;
  	float: left;
  	margin-left: 1px;
  	height: 100%;
  }

  .comments-wrapper{
  	margin-left: -40px;
  }
  .comments__title{
  	margin-left: 9px;
  }

  .first-partner{
  	width: 25%;
  }

  .first-partner .icon{
  	left: 99px;
  }

  .first-partner div{
  	margin-left: 80px;
  }

  .second-partner{
  	width: 25%;
  }

  .second-partner .icon{
  	left: 116px;
  }

  .second-partner div{
  	margin-left: 6px;
  }

  .third-partner{
  	width: 25%;
  }

  .third-partner .icon{
  	left: 126px;
  }

  .third-partner div{
  	margin-left: 59px;
  }

  .fourth-partner{
  	width: 25%;
  }

  .fourth-partner .icon{
  	left: 125px;
  }

  .fourth-partner div{
  	margin-left: 58px;
  }

  .show-other-partners{
  	margin-top: 65px;
  	margin-left: 100px;
  }

  .ideas {
    margin-left: 124px;
    width: 90%;
}

  .search-partners{
  	margin-left: 351px;
  }

  #searchbar{
  	margin-left: 264px;
  	margin-top: 55px;
  	margin-bottom: 60px;
  }

  #searchbtn{
  	margin-top: 55px;
  	margin-bottom: 60px;
  }

  .footer__title--big--bold{
  	margin-left: 222px;
  }

  .designed-by {
    margin-left: 296px;
    margin-top: -13px;
}

  .logo-img--bottom{
  	margin-left: 792px;
  }

  .menu{
  	left: 380px;
  }

  .grid-item__text {
    left: 1px;
    top: 1px;
    padding: 144px 101px;
    border-radius: 3px;
  }

}


@media screen and (min-width : 1364px){
	.header{
		background-position: 0 0;
		background-size: cover;
		height: 685px;
	}

	.log-sign{
		margin-right: 258px;
    margin-top: 0px;
	}

	.header__title--top{
		margin-left: 156px;
    margin-top: 32px;
	}

	.header__title--middle{
		width: 41%;
		margin-left: 470px;
		font-size: 50px;
		line-height: 55px;
		margin-left: 374px;
    margin-top: 150px;
    font-weight: bold;
	}

	.header__title--bottom{
		margin-left: 174px;
    margin-top: 37px;
    font-size: 25px;
	}

	.header__find--partner{
		margin-left: 509px;
    margin-top: 37px;
    font-size: 14px;
	}

	.content{
		width: 100%;
	}

	.content__title{
		margin-left: 525px;
		margin-top: 97px;
	}

	.sliders-wrapper {
    margin-left: 207px;
  }

	.flexslider .slides img{
  	height: 417px !important;
  }

  .flex-viewport{
  	height: 417px;
  }

  .first-slider{
  	width: 27%;
  	float: left;
  	margin-left: 1px;
  	height: 100%;
  }

  .sliders-wrapper .first-slider .text--lignter{
  	top: 368px;
  }

  .sliders-wrapper .first-slider .text--bold {
    top: 296px;
  }

  .sliders-wrapper .first-slider .step {
    top: 253px;
  }

  .second-slider{
  	width: 27%;
  	float: left;
  	margin-left: 1px;
  	height: 100%;
  }

  .sliders-wrapper .second-slider .text--lignter{
  	top: 368px;
  }

  .sliders-wrapper .second-slider .text--bold {
    top: 296px;
  }

  .sliders-wrapper .second-slider .step {
    top: 253px;
  }

  .third-slider{
  	width: 27%;
  	float: left;
  	margin-left: 1px;
  	height: 100%;
  }

  .sliders-wrapper .third-slider .text--lignter{
  	top: 368px;
  }

  .sliders-wrapper .third-slider .text--bold {
    top: 296px;
  }

  .sliders-wrapper .third-slider .step {
    top: 253px;
  }

  .comments-wrapper{
  	margin-left: 30px;
  }

  .comments__title{
  	margin-left: -61px;
    margin-top: 88px;
  }

  .first-partner{
  	width: 20%;
  	margin-left: 139px;
  }

  .first-partner div {
    margin-left: 72px;
  }

  .second-partner{
  	width: 20%;
  	margin-left: -28px;
  }

  .second-partner div {
    margin-left: 57px;
}

  .third-partner{
  	width: 20%;
  	margin-left: -39px;
  }

  .fourth-partner{
  	width: 20%;
  	margin-left: -37px;
  }

  .show-other-partners {
    margin-top: 309px;
    margin-left: -596px;
    font-size: 15px;
  }

  .grid__title {
    margin-top: 86px;
    margin-left: 19px;
  }

  .ideas{
  	margin-left: 195px;
  	width: 90%;  
  }
  
  .grid{
  	width: 100%;
  }
  
  .grid-item {
	  height: 310px;
	  width: 300px;
	  border-radius: 4px;
	  box-sizing: border-box;
	  margin-bottom: 20px;
  }

  .grid-item--width2 {
	  width: 620px;
  }

  .grid-item__text {
    left: 1px;
    top: 1px;
    padding: 144px 101px;
    border-radius: 3px;
  }

  .search-partners{
  	margin-left: 532px;
  }

  #searchbar{
  	margin-left: 460px;
    margin-top: 45px;
    margin-bottom: 60px;
  }

  #searchbtn{
  	margin-top: 40px;
  	margin-bottom: 60px;
  	padding: 10px 20px;
  }

  .footer__title--big--bold{
  	margin-left: 222px;
  }

  .designed-by{
  	margin-left: 485px;
  }

  .logo-img--bottom{
  	margin-left: 460px;
  }

  .menu{
  	left: 380px;
  }

  .designed-by{
  	margin-top: 40px;
  }

}
