$roboto:          'Roboto', courier, sans-serif;
$montserrat:      'Montserrat', Arial, sans-serif;


body{
	max-width: 1440px;
	margin: 0 auto;
	height:100%;
	/*font-family: 'Montserrat', sans-serif;*/
	/*font-family: 'Roboto', sans-serif;*/
}

.wrapper{
	position: relative;
	overflow: hidden;
}

@media screen and (min-width : 310px){
/*HERE IS STARI OF HEADER*/
.header{
	position: relative;
	overflow: hidden;
	background: url(../img/main-img.png) -433px 0 no-repeat;
	background-color: #1a1915;
	background-size: 1175px;
	width: 100%;
	height: 540px;
	display: block;
}


.log-sign{
	position: relative;
	overflow: hidden;
	/*float: right;*/
	width: 237px;
	margin: 0 auto;
	font-weight: bold;
	clear: both;
	text-align: center;
}

.login{
  float: left;
  color: white;
  margin-top: 25px;
  background-color: transparent;
  margin-left: 34px;
  border: none;
  padding: 5px 15px 5px 15px;
  font-family: $montserrat;
  outline: none;
  font-size: 14px;
}

.signup{
  float: left;
  color: white;
  margin-top: 26px;
  margin-left: 7px;
  text-align: center;
  background-color: transparent;
  border: none;
  padding: 5px 15px 5px 15px;
  font-family: $montserrat;
  outline: none;
  font-size: 14px;
}

.login:hover{
	border: 2px solid white;
	border-radius: 50px;
}

.signup:hover{
	border: 2px solid white;
	border-radius: 50px;
}

.header__block--title{
	position: relative;
	overflow: hidden;
	margin: 0 auto;
	width: 301px;
}

.header__title--top{
	color: white;
	font-size: 20px;
	font-weight: bold;
	margin-top: 121px;
	text-align: center;
	font-family: $montserrat;
}

.header__title--middle{
	color: white;
	font-size: 30px;
	text-align: center;
	margin-top: 33px;
	font-family: $montserrat;
	line-height: 33px
}

.header__title--bottom{
	color: white;
	font-size: 18px;
	text-align: center;
	margin-top: 14px;
	margin-left: 48px;
	font-weight: lighter;
	font-family: $roboto;
	width: 72%;
}

.header__find--partner{
	border-radius: 50px;
	border: none;
	color: white;
	font-family: $montserrat;
	margin-top: 20px;
	text-align: center;
	padding: 10px 40px;
	outline: none;
	background-color: transparent;
	font-size: 15px;
	margin-left: 17px;
}
.header__find--partner:hover{
	border-radius: 50px;
  background-color: #ff4e50;
}
/*HERE IS END OF HEADER*/


/*HERE IS START OF CONTENT*/
.conten{
	position: relative;
	overflow: hidden;
}

.content__title{
	color: black;
	margin-top: 37px;
	text-align: center;
	font-weight: bold;
	font-size: 22px;
	font-family: $montserrat;
}

/*SLIDER START*/
.sliders-wrapper{
	position: relative;
	overflow: hidden;

	.flexslider .slides img {
    height: 225px;
  }

	.first-slider{
		margin-top: 15px;
		position: relative;
		overflow: hidden;

		.step{
			position: absolute;
			left: 32px;
			top: 70px;
			z-index: 1;
			color: white;
			background-color: #ff4e50;
			border-radius: 50px;
			font-size: 12px;
			padding: 5px 15px;
			font-family: $montserrat;
		}
		.text--bold{
			position: absolute;
			left: 32px;
			top: 106px;
			z-index: 1;
			color: white;
			font-weight: bold;
			font-size: 28px;
		}
		.text--lignter{
      position: absolute;
      color: white;
      font-family: $roboto;
      font-weight: lighter;
      font-size: 15px;
			left: 32px;
			top: 170px;
			z-index: 1;
		}
	}

	.second-slider{
		margin-top: 15px;
		position: relative;
		overflow: hidden;

		.step{
			position: absolute;
			left: 32px;
			top: 70px;
			z-index: 1;
			color: white;
			background-color: #ff4e50;
			border-radius: 50px;
			font-size: 12px;
			padding: 5px 15px;
			font-family: $montserrat;
		}
		.text--bold{
			position: absolute;
			left: 32px;
			top: 106px;
			z-index: 1;
			color: white;
			font-weight: bold;
			font-size: 28px;
		}
		.text--lignter{
      position: absolute;
      color: white;
      font-family: $roboto;
      font-weight: lighter;
      font-size: 15px;
			left: 32px;
			top: 170px;
			z-index: 1;
		}
	}

	.third-slider{
		margin-top: 15px;
		position: relative;
		overflow: hidden;

		.step{
			position: absolute;
			left: 32px;
			top: 70px;
			z-index: 1;
			color: white;
			background-color: #ff4e50;
			border-radius: 50px;
			font-size: 12px;
			padding: 5px 15px;
			font-family: $montserrat;
		}
		.text--bold{
			position: absolute;
			left: 32px;
			top: 106px;
			z-index: 1;
			color: white;
			font-weight: bold;
			font-size: 28px;
		}
		.text--lignter{
      position: absolute;
      color: white;
      font-family: $roboto;
      font-weight: lighter;
      font-size: 15px;
			left: 32px;
			top: 170px;
			z-index: 1;
		}
	}
}
/*SLIDER END*/

/*COMMENTS START*/
.comments-wrapper{
	position: relative;
	overflow: hidden;
	margin: 0 auto;
}

.comments__title{
	font-weight: bold;
	font-size: 22px;
	text-align: center;
	margin-left: 7px;
	margin-top: 38px;
	font-family: $montserrat;
}

.first-partner{
	position: relative;
	overflow: hidden;
	margin-top: -9px;
	margin: 0 auto;
	.photo{
		width: 120px;
		height: 120px;
		background: url(../img/sprite-for-comments-photos.png) -4px 0px;
		border-radius: 100px;
		margin-top: 19px;
		margin-left: 100px;
	}
	.icon{
		width: 45px;
		height: 40px;
		background: url(../img/sprite-for-comments.png) 0px 0px;
		position: absolute;
		left: 123px;
		top: 89px;
	}
	h6{
		font-size: 15px;
		font-weight: bold;
		font-family: $montserrat;
		margin-top: 16px;
		margin-left: 107px;
	}
	div{
		color: #8f8f8f;
		text-align: center;
		margin-top: 15px;
		margin-left: 57px;
		font-family: $roboto;
		font-weight: lighter;
		width: 64%;
	}
}

.second-partner{
	position: relative;
	overflow: hidden;
	.photo{
		width: 120px;
		height: 120px;
		background: url(../img/sprite-for-comments-photos.png) -6px -129px;
		border-radius: 100px;
		margin-top: 15px;
		margin-left: 100px;
	}
	.icon{
		width: 45px;
		height: 40px;
		background: url(../img/sprite-for-comments.png) 0px -49px;
		position: absolute;
		left: 140px;
		top: 85px;
	}
	h6{
		font-size: 15px;
		font-weight: bold;
		font-family: $montserrat;
		margin-top: 19px;
		margin-left: 110px;
	}
	div{
		color: #8f8f8f;
		margin-left: 38px;
		width: 77%;text-align: center;
		margin-top: 14px;
		font-family: $roboto;
		font-weight: lighter;
	}
}

.third-partner{
	position: relative;
	overflow: hidden;
	.photo{
		width: 120px;
		height: 120px;
		background: url(../img/sprite-for-comments-photos.png) -6px -261px;
		border-radius: 100px;
		margin-top: 30px;
		margin-left: 100px;
	}
	.icon{
		left: 140px;
		width: 45px;
		height: 40px;
		background: url(../img/sprite-for-comments.png) 0px -91px;
		position: absolute;
		top: 98px;
	}
	h6{
		font-size: 15px;
		font-weight: bold;
		font-family: $montserrat;
		margin-top: 18px;
		margin-left: 99px;
	}
	div{
		color: #8f8f8f;
		text-align: center;
		margin-top: 16px;
		font-family: $roboto;
		font-weight: lighter;
		margin-left: 38px;
		width: 77%;
	}
}

.fourth-partner{
	position: relative;
	overflow: hidden;
	.photo{
		width: 120px;
		height: 120px;
		background: url(../img/sprite-for-comments-photos.png) -6px -921px;
		border-radius: 100px;
		margin-top: 30px;
		margin-left: 100px;
	}
	.icon{
		left: 140px;
		width: 45px;
		height: 40px;
		background: url(../img/sprite-for-comments.png) 0px -132px;
		position: absolute;
		top: 96px;
	}
	h6{
		font-size: 15px;
		font-weight: bold;
		font-family: $montserrat;
		margin-top: 17px;
		margin-left: 103px;
	}
	div{
		color: #8f8f8f;
		text-align: center;
		margin-top: 15px;
		font-family: $roboto;
		font-weight: lighter;
		margin-left: 38px;
		width: 77%;
	}
}

.show-other-partners{
	border-radius: 50px;
	border: none;
	font-family: $montserrat;
	margin-top: 28px;
	padding: 10px 50px;
	text-align: center;
	outline: none;
	background-color: transparent;
	color: #ff4e50;
	margin-left: 43px;
	font-size: 14px;

}

.show-other-partners:hover{
	border: 1px solid #ff4e50; 
	background-color: transparent;
}
/*COMMENTS END*/

/*START OF IMAGES*/
.grid-wrapper{
	position: relative;
	overflow: hidden;
}

.grid__title{
  font-family: $montserrat;
  font-weight: bold;
  width: 95%;
  margin-top: 37px;
  text-align: center;
  font-size: 22px;
}

.grid__title--bottom{
  font-family: $montserrat;
  font-weight: bold;
  width: 95%;
  margin-top: 37px;
  text-align: center;
  font-size: 22px;
}

.ideas{
	position: relative;
	overflow: hidden;
}

.grid{
  margin-left: 3px;
  margin-top: 10px;
}

.grid-item { 
	height: 125px;
	width: 300px;
	border-radius: 18px;
	border: 1px solid #ccc;
	box-sizing: border-box;
	font: bold 22px "Montserrat", Arial, sans-serif;
	color: #fff;
	text-align: center;
	margin-bottom: 20px;
}

.grid-item__text{
	font-weight: bold;
	font-size: 23px;
	color: white;
	padding: 49px 137px;
	background-color: rgba(26, 25, 21, 0.5);
	border-radius: 15px;
	text-align: center;
}

.search-partners{
  font-family: $roboto;
  text-align: center;
  margin-top: 18px;
  font-weight: lighter;	
  font-size: 18px;
}

.form-search-partners{
	width: 17%;
}

#searchbar{
	padding: 10px 53px;
	border-radius: 5px;
	margin-left: 18px;
	margin-top: 20px;
}

#searchbtn{
  border-radius: 50px;
	border: none;
	color: white;
	font-family: $montserrat;
	margin-top: 14px;
	margin-left: 56px;
	padding: 10px 50px;
	text-align: center;
	outline: none;
	background-color: #ff4e50;	
	margin-bottom: 42px;
}
/*END OF IMAGES*/
/*HERE IS END OF CONTENT*/

/*HERE IS START OF FOOTER*/
.footer{
	position: relative;
	overflow: hidden;
	border-top: 3px solid #ff4e50;
}

.footer__title--big--bold{
	color: #ff4e50;
	font-size: 16px;
	font-weight: bold;
	margin-top: 18px;
	margin-left: 85px;
	font-family: $montserrat;
}

.footer__company--bold{
  font-weight: bold;
  margin-left: 120px;
  margin-top: 15px;
  font-size: 14px;
  font-family: $montserrat;	
}

.menu{
	position: relative;
	overflow: hidden;
	margin-left: 45px;
	margin-top: 8px;
}

.menu__item{
	float: left;
	margin-left: 10px;
}

.menu__link{
	color: #a3a3a3;
	font-family: $roboto;
	font-weight: lighter;
	text-decoration: none;
}

.partners-footer--bold{
  font-family: $montserrat;
  font-weight: bold;
  margin-top: 10px;
  margin-left: 125px;
  font-size: 14px;
}

.designed-by{
  font-family: $montserrat;
  font-weight: bold;
  font-size: 10px;
  margin-top: 14px;
  margin-left: 127px;
  color: #a3a3a3;	
}

.logo-img--bottom{
	margin-top: 15px;
	margin-left: 100px;
}
/*HERE IS END OF FOOTER*/
}




@media screen and (min-width : 747px){
  .header{
  	background-position: -200px 0;
  	height: 700px;
  	background-size: cover;
  }  

  .log-sign{
  	float: right;
    margin-top: 15px;
    clear: both;
    margin-right: -12px;
  }

  .header__block--title{
  	margin: 0 auto;
  	width: 627px;

  }

  .header__title--top{
  	margin-top: -23px;
    margin-left: 51px;
    float: left;
    clear: both;
  }

  .header__title--middle{
  	margin-top: 146px;
  	font-size: 52px;
  	line-height: 60px; 
  	width: 100%;

  }

  .header__title--bottom{
    width: 94%;	
    margin-left: 18px;
    font-size: 24px;
    margin-top: 30px;
  }

  .header__find--partner{
     margin-left: 0;  
     width: 55%;
     margin-top: 35px;
     margin-left: 140px;
  }

  .content__title{
  	margin-top: 96px;
  }

  .sliders-wrapper{
  	height: 100%;
  }

  .sliders-wrapper .flexslider .slides img{
  	height: 416px;
  }

  .flex-viewport{
  	height: 416px;
  }

  .first-slider{
  	width: 30%;
  	float: left;
  	margin-left: 20px;
  	height: 100%;
  }

  .second-slider{
  	width: 30%;
  	float: left;
  	margin-left: 20px;
  	height: 100%;
  }

  .third-slider{
  	width: 30%;
  	float: left;
  	margin-left: 20px;
  	height: 100%;
  }

  .sliders-wrapper .first-slider .text--lignter{
  	top: 340px;
  	left: 10px;
  }

  .sliders-wrapper .first-slider .text--bold{
  	top: 270px;
  	left: 10px;
  }

  .sliders-wrapper .first-slider .step{
  	top: 232px;
  	left: 10px;
  }

  .sliders-wrapper .second-slider .text--lignter{
  	top: 340px;
  	left: 10px;
  }

  .sliders-wrapper .second-slider .text--bold{
  	top: 270px;
  	left: 10px;
  }

  .sliders-wrapper .second-slider .step{
  	top: 232px;
  	left: 10px;
  }

  .sliders-wrapper .third-slider .text--lignter{
  	top: 340px;
  	left: 10px;
  }

  .sliders-wrapper .third-slider .text--bold{
  	top: 270px;
  	left: 10px;
  }

  .sliders-wrapper .third-slider .step{
  	top: 232px;
  	left: 10px;
  }

  .comments__title{
  	margin-top: 92px;
  }

  .first-partner{
  	width: 44%;
  	float: left;
  	margin-top: 14px;
  	margin-left: 46px;
  }

  .second-partner{
  	width: 44%;
  	float: left;
  	margin-left: -39px;
  	margin-top: 17px;
  }

  .third-partner{
  	width: 44%;
  	float: left;
  	margin-left: 48px;
  }

  .fourth-partner{
  	width: 44%;
  	float: left;
  	margin-left: -41px;
  }

  .show-other-partners{
  	margin-left: 216px;
  	margin-top: 70px;
  }

  .comments-wrapper{
  	margin-left: 52px;
  }

  .grid-wrapper{
  	margin: 0 auto;
  	width: 720px;
  }

  .ideas{
  	margin-left: 0px;
  	width: 940px;  
  }
  
  .grid{
  	width: 100%;
  }
  
  .grid-item {
	  height: 310px;
	  width: 225px;
	  border-radius: 4px;
	  box-sizing: border-box;
	  margin-bottom: 20px;
  }

  .grid-item--width2 {
	  width: 485px;
  }

  .grid__title{
  	margin-top: 99px;
  	margin-left: 36px;
  }

  .grid__title--bottom{
    font-family: $montserrat;
    font-weight: bold;
    width: 95%;
    margin-top: 102px;
    margin-left: 32px;
    text-align: center;
    font-size: 22px;
  }

  .grid-item__text{
  	left: 1px;
  	top: 10px;
  	padding: 144px 103px;
  	border-radius: 3px;
  }

  .search-partners{
  	margin-left: 29px;
  	margin-top: 37px;
  }

  .form-search-partners{
  	width: 100%;
  }

  #searchbar{
  	float: left;
  	margin-left: 176px;
  	margin-top: 38px;
  	padding: 10px 36px;
  }

  #searchbtn{
  	float: left;
  	margin-left: 10px;
  	margin-top: 39px;
  	padding: 10px 30px;
  	margin-bottom: 103px;
  }

  .footer__title--big--bold{
  	float: left;
  	margin-left: 45px;
  	margin-top: 39px;
  }

  .footer__company--bold{
  	float: left;
  	margin-top: 40px;
  	margin-left: 91px;
  }

  .partners-footer--bold{
  	float: left;
  	margin-top: 37px;
  	margin-left: 101px;
  }
  
  .menu{
  	position: absolute;
  	left: 213px;
  	top: 53px;
  }

  .menu__item{
  	float: none;
  	margin-top: 5px;
  }

  .designed-by{
  	float: left;
  	margin-top: 37px;
  }
  
  .footer{
  	height: 175px;
  }

}



/*DESCOPT*/



@media screen and (min-width : 939px){
	.header{
		background-position: -39px 0;
    background-size: cover;
	}

	.log-sign{
		float: right;
		margin-right: 165px;
		margin-top: 16px;
	}

	.header__title--top {
    margin-top: -24px;
    margin-left: 210px;
    clear: both;
    letter-spacing: 1px;
  }

	.header__block--title{
		width: 650px;
		margin-top: 70px;
	}

	.header__title--middle {
    width: 500px;
    font-size: 52px;
    line-height: 61px;
    margin-left: 74px;
    letter-spacing: -2px;
  }

	.header__title--bottom {
    margin-left: 0;
    width: 660px;
    letter-spacing: 0.3px;
    margin-top: 29px;
  }

	.header__find--partner {

    width: 380px;
    font-size: 14px;
    margin-top: 35px;
  }

  .content__title{
  	text-align: center;
  }

	.sliders-wrapper{
		margin-left: 200px;
		margin-top: 17px;
	}

	.sliders-wrapper .flexslider .slides img{
  	
  }

  .flex-viewport{
  	height: 400px;
  }

  .first-slider{
  	width: 27%;
  	float: left;
  	margin-left: 1px;
  	height: 100%;
  }

  .sliders-wrapper .first-slider .step{
  	left: 10px;
  }

  .sliders-wrapper .first-slider .text--bold{
  	left: 10px;
  }

  .sliders-wrapper .first-slider .text--lignter{
  	left: 10px;
  }

  .second-slider{
  	width: 27%;
  	float: left;
  	margin-left: 11px;
  	height: 100%;
  }

  .sliders-wrapper .second-slider .step{
  	left: 10px;
  }

  .sliders-wrapper .second-slider .text--bold{
  	left: 10px;
  }

  .sliders-wrapper .second-slider .text--lignter{
  	left: 10px;
  }

  .third-slider{
  	width: 27%;
  	float: left;
  	margin-left: 11px;
  	height: 100%;
  }

  .sliders-wrapper .third-slider .step{
  	left: 10px;
  }

  .sliders-wrapper .third-slider .text--bold{
  	left: 10px;
  }

  .sliders-wrapper .third-slider .text--lignter{
  	left: 10px;
  }

  .comments-wrapper{
  	width: 890px;
  	margin: 0 auto;
  }
  .comments__title{
  	margin-left: 0;
  }

  .first-partner{
  	width: 25%;
  	margin-left: -68px;
  }

  .first-partner .icon{
  	left: 110px;
  }

  .first-partner div{
  	margin-left: 68px;
  	width: 76%;
  	font-size: 14px
  }

  .second-partner{
  	width: 28%;
  	margin-left: 18px;
  }

  .second-partner .icon{
  	left: 133px;
  }

  .second-partner div{
  	margin-left: 44px;
    width: 83%;
    font-size: 14px;
  }

  .third-partner{
  	width: 30%;
  	margin-left:-12px;
  }

  .third-partner .icon{
  	left: 133px;
  }

  .third-partner h6{
  	margin-left: 104px;
  }

  .third-partner div{
  	margin-left: 50px;
  	font-size: 14px;
  }

  .fourth-partner{
  	width: 29%;
    margin-left: -49px;
  }

  .fourth-partner .icon{
  	left: 120px;
  }

  .fourth-partner h6{
  	margin-left: 115px;
  }

  .fourth-partner div{
  	margin-left: 63px;
  	font-size: 14px;
  }

  .show-other-partners{
  	margin-top: 303px;
    margin-left: -554px;
  }

  .grid-wrapper{
  	width: 1100px;
  	margin: 0 auto;
  }

  .grid__title{
  	width: 352px;
    margin: 0 auto;
    margin-top: 100px;
  }

  .grid-item{
  	width: 300px;
  }

  .grid-item--width2{
  	width: 620px;
  }

  .ideas {
    width: 1040px;
    margin-left: 77px;
  }

  .search-partners{
  	margin-left: 25px;
  }

  #searchbar{
  	margin-left: 264px;
  	margin-top: 37px;
  	margin-bottom: 60px;
  }

  #searchbtn{
  	margin-top: 39px;
  	margin-bottom: 102px;
  }

  .footer{
  	margin: 0 auto;
  	width: 1300px;
  }

  .footer__title--big--bold{
  	margin-left: 185px;
  }

  .designed-by {
    margin-left: 405px;
    margin-top: 39px;
  }

  .logo-img--bottom{
  	margin-left: 707px;
  }

  .menu{
  	left: 370px;
  }

  .grid-item__text {
    left: 1px;
    top: 1px;
    padding: 144px 101px;
    border-radius: 3px;
  }

  .footer__company--bold {
    float: left;
    margin-top: 40px;
    margin-left: 104px;
  }

  .partners-footer--bold {
    float: left;
    margin-top: 39px;
    margin-left: 95px;
  }

}



