<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>DOC</title>
  <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="js/template.js"></script>
  <script src="js/script.js"></script>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  
    <script type="text/html" id="test">
      <% for (var i = 0; i < data.length; i++) { %>
        <h1 class="name"><%= data[i].name %></h1>
        <img class="icon" src="img/<%= data[i].photo %>">
        <p class="iam"><%= data[i].iam %></p>
        <p class="iwant"><%= data[i].iwant %></p>
        <ul class="cool">
          <li><%= data[i].cool %></li>
          <li><%= data[i].cool %></li>
          <li><%= data[i].cool %></li>
        </ul>
        <p class="phone"><%= data[i].phone %></p>
      <% }; %>
    </script>

   
  



</body>
</html>