.titleTest{
  margin-left: 400px;
  font-size: 20px;
}

.question1{
  margin-left: 300px;
  margin-top: 20px;
}

.checkQuestion1{
  margin-left: 320px;
  margin-top: 5px;
}

.questionNumber{
  margin-left: 311px;
}

.checkAnswers{
  margin-left: 439px;
  margin-top: 10px;
}


